header{
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 100%;
    width: 100%;
    color: white;
   
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    font-family: "Kalam", cursive;
}
#navbar-menu{
    display: flex;
    list-style: none;
    gap: 60px;
}
.nav-a:hover{
    color: #DA7C25;
    transition: 0.3s;
 background-color: #B923E1;
 padding: 2px;
}
#title{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
a{
    color: white !important;
    text-decoration: none !important;
}
.btn-contact{
    font-family: "Kalam", cursive;
    padding: 10px;
    background: linear-gradient(267deg, #DA7C25 0.36%,#B923E1 102%);
    border-radius: 40px;
    cursor: pointer;
    color: white;
    border:none;
}
#nav-short-btn{
    display: none;
}
@media (min-width: 300px) and (max-width: 800px){

    #nav-short-btn{
        display: none;
    }
    #navbar-middle, #navbar-right{
        display: none;
    }
    #intro-title-con{
        font-size: 10px
    }
    

}
